<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\TwoFactorAuth\Model\AdminAccessTokenService"
                type="WMZ\Bypass2FA\Model\AdminAccessTokenService"/>
    <preference for="Magento\TwoFactorAuth\Observer\ControllerActionPredispatch"
                type="WMZ\Bypass2FA\Observer\ControllerActionPredispatch"/>
</config>
